.title
  margin-top 2u
  text-align center

.options
  margin-top 4u
  justify-content center

.option
  margin 0 2u

.btn
  margin-top 2u

.responses
  margin-top 2u
  flex-grow 1
  width 100%
  display flex
  flex-direction row
  justify-content: space-around

.currentResponse
  margin-top 2u
  width auto
  height 100%
  width 4u
  color: $UI.colors.primary