.root
  flex-direction row
  align-items center
  justify-content space-between
  margin-top 2u
  width 100%
  flex-wrap wrap

.collapse
  width 100%

.info
  flex-wrap wrap
  margin-top 2u

.responses
  margin-top 1u

.item
  width 200px
  margin-right 2u
  margin-top 2u
  &.first
    margin-top 0
  &__label, &__value
    font-weight bold

.totalScore
  margin-top 2u

.players
  flex-grow 1
  display flex
  flex-direction row
  justify-content: space-around

.playerResponse
  width 50%

.round
  justify-content center

.name, .score
  text-align center

.response
  align-items center
  justify-content space-around

.score
  margin-top 1u

.currentResponse
  margin-top 1u
  width auto
  height 100%
  width 4u
  color: $UI.colors.primary